* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: Arial, sans-serif; */
  font-family: "Nunito Sans";
  src: url("assets/fonts/nunitosans.ttf") format("truetype");
  background-color: #f8f5e6; /* Light beige color matching the background */
}

.reset-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f5e6;
}

.tablet-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.tablet-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Ensures the image covers the full left half */
}

.reset-password-box {
  flex: 1;
  padding: 10px;
  /* text-align: center; */
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.logo img {
  height: 120px;
  margin-right: 15px;
}

h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
}

label {
  font-size: 0.9em;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f5e6; /* Blend input fields with background */
  color: #070707;
  margin-bottom: 40px;
  outline: none;
}

button {
  background-color: #6f2955; /* Button color */
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 180px;
}

button:hover {
  background-color: #592246; /* Darker shade on hover */
}
