@font-face {
  font-family: 'Nunito Sans';
  src: url('assets/fonts/nunitosans.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f7f3e6;
  color: #333;
}

.author-profile-container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

.author-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.logo {
  width: 200px; 
  height: auto;
}

.actions {
  display: flex;
  align-items: center;
  
}

.actions a {
  margin-left: 70px;
}

.home {
  width: 50px; /* Adjust size as needed */
  height: auto; /* Adjust size as needed */
}

.whishlist {
  width: 50px;
  height: auto;
}

.author-profile{
  width : 50px;
  height: auto;
}

.navigation {
  display: flex;
  align-items: flex-start;
  font-size: 2.5em;
  background-color: #f7f3e6;
  /* padding: 10px 0; */
  margin-top: 15px;
  border-bottom: 1px solid black;
}

.navigation a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navigation .text-2{
  margin-left: 50px;;
  margin-right: 50px;
}

.navigation .text-1.active{
  border-bottom: 10px solid #7f265b;
  border-radius: 10px;
}

.author-profile-container .author-content {
  padding: 20px;
  border-radius: 8px;
}

.author-profile-container .profile-details h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5em;
  margin-top: 0;
  margin: 25px;
  color: #796969;
}

.author-profile-container .details {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  font-size: 1em;
  gap: 25px; /* Space between each input field */
  margin-bottom: 15px;
}

.author-profile-container .input-group {
  font-family: 'Nunito Sans', sans-serif;
  flex: 1;
  margin: 20px;
  margin-bottom: 20px;
}

.author-profile-container .input-group label {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  margin-bottom: 10px;
}

.author-profile-container .input-group input {
  font-family: 'Nunito Sans', sans-serif;
  width: 80%; /* Adjusts the width within the container */
  height: 40px; /* Adjusts the height of the input box */
  padding: 10px;
  font-size: 1em;
  color: #796969;
  border-radius: 15px; /* Rounds the edges */
}

.rented-books h1,
.purchased-books h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8em;
  margin-top: 0;
  margin: 25px;
  color: #796969;
}

.form-row {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  font-size: 1em;
  gap: 25px; /* Space between each input field */
  margin-bottom: 15px;
}

.form-group {
  font-family: 'Nunito Sans', sans-serif;
  flex: 1;
  margin: 20px;
  margin-bottom: 20px;
}

.user-input {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  font-size: 1em;
  gap: 25px;
  margin-bottom: 15px;;
}

.form-group label {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  margin-bottom: 10px;
}

.form-group input {
  font-family: 'Nunito Sans', sans-serif;
  width: 80%; /* Adjusts the width within the container */
  height: 40px; /* Adjusts the height of the input box */
  padding: 10px;
  font-size: 0.9em;
  color: #796969;
  border-radius: 15px; /* Rounds the edges */
}

.user-input input{
  font-family: 'Nunito Sans', sans-serif;
  width: 24%; /* Adjusts the width within the container */
  height: 40px; /* Adjusts the height of the input box */
  padding: 10px;
  font-size: 1em;
  border-radius: 15px; /* Rounds the edges */
}

.rented-books,
.purchased-books {
  margin-top: 30px;
  padding: 10px;
}

.rented-books p,
.purchased-books p {
  margin: 150px;
  text-align: center;
}