@font-face {
    font-family: 'Nunito Sans';
    src: url('assets/fonts/nunitosans.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
  }
  
  body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f7f3e6;
    color: #333;
  }
  
  .author-profile-container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .logo {
    width: 200px; 
    height: auto;
  }
  
  .actions {
    display: flex;
    align-items: center;
    
  }
  
  .actions a {
    margin-left: 70px;
  }
  
  .home {
    width: 50px; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
  }
  
  .whishlist {
    width: 50px;
    height: auto;
  }
  
  .author-profile{
    width : 50px;
    height: auto;
  }
  
  .navigation {
    display: flex;
    align-items: flex-start;
    font-size: 1.8em;
    background-color: #f7f3e6;
    /* padding: 10px 0; */
    margin-top: 10px;
    border-bottom: 1px solid black;
  }
  
  .navigation a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navigation .text-2{
    margin-left: 50px;;
    margin-right: 50px;
  }
  
  .navigation .text-3.active{
    border-bottom: 10px solid #7f265b;
    border-radius: 10px;
  }
  
  .author-content {
    padding: 20px;
    border-radius: 8px;
  }
  
  .author-content h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6em;
    margin-top: 0;
    margin: 25px;
    color: #796969;
  }
  
  
  .curr-reading p {
    margin: 20px;
    text-align: center;
  }