@font-face {
  font-family: 'Nunito Sans';
  src: url('assets/fonts/nunitosans.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f7f3e6;
  color: #333;
}

.author-profile-container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

.author-profile-container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom: 1px solid black;
  margin-top: -48px;
}


.author-profile-container .logo {
  height: auto; /* Adjust logo size as needed */
  width: 200px;
  position: absolute;
    top: 15px;
    left: 40px; /* Positioning logo to the top left */
}


.author-profile-container .nav-icons {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: -10px;
  cursor: pointer;
  position: relative;
  padding-bottom: 6px;
  padding-top: 7px;
}

.author-profile-container .nav-icons .wishlisticon  {
  width: 25px;
  height: auto;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
 /* Space for underline */
  padding-top: 28px;
  /* border-bottom: 4px solid  #940491; */
}

.author-profile-container .nav-icons .homeicon {
  width: 30px;
  height: auto;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px; 
  /* Space for underline */
  padding-top: 28px;
  /* border-bottom: 4px solid  #940491; */

}

.author-profile-container .nav-icons .profileicon {
  width: 20px;
  height: auto;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px; /* Space for underline */
  padding-top: 28px;
  border-bottom: 4px solid  #940491;
}

.navigation {
  display: flex;
  align-items: flex-start;
  font-size: 1.8em;
  background-color: #f7f3e6;
  /* padding: 10px 0; */
  margin-top: 10px;
  border-bottom: 1px solid black;
}

.navigation a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navigation .text-2{
  margin-left: 50px;;
  margin-right: 50px;
}

.navigation .text-2.active{
  border-bottom: 10px solid #7f265b;
  border-radius: 10px;
}

.author-content {
  padding: 20px;
  border-radius: 8px;
}

.author-content h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6em;
  margin-top: 0;
  margin: 25px;
  color: #796969;
}


/* .upload-books p {
  margin: 20px;
  text-align: center;
} */

.author-upload-container .author-upload-title {
  font-size: 30px;
  font-weight: bold;
  /* font-family: fantasy; */
  color: #000000;
  text-align: center;
  margin: 33px 0;
  position: relative;
  text-decoration: underline;
  text-decoration-color: #940491;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
  
}

.author-upload-container .author-upload {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  overflow-y: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.author-upload-container .author-upload-item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 27px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(244, 242, 242, 0.885);
  position: relative;
  border: 2px solid #e2dde6;
  gap: 20px;
}

.author-upload-container .book-cover {
  width: 110px;
  height: 160px;
  margin-right: 30px;
  margin-left: 0px;
  border-radius: 4px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.author-upload-container .author-upload-details {
  margin: 3px 0;
  font-size: 12px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: flex-start;
  flex-direction: column; 
}

.author-upload-container .author-upload-book-title {
  font-size: 25px;
    margin: 4px 0px;
    color: #333;
    margin-top: -22px;
}

.author-upload-container .author-upload-book-author {
  font-weight: lighter;
    margin: 4px 2px;
    color: #666;
    font-size: 0.9rem; /* Slightly smaller font for author if desired */
}

.author-upload-container .author-upload-read-btn {
  background-color: #a13373;
    color: white;
    padding: 7px 30px;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.author-upload-container .author-upload-remove-btn {
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 0;
}

.author-upload-container .author-upload-remove-btn img {
  width: 30px;
  height: 30px;
  transition: transform 0.1s ease;
}

.author-upload-container .author-upload-empty-message {
  font-size: 1.5rem;
  color: #000000;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  opacity: 0.8;
}