* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: Arial, sans-serif; */
  font-family: "Nunito Sans";
  src: url("assets/fonts/nunitosans.ttf") format("truetype");
  background-color: #f8f5e6; /* Light beige color matching the background */
}

.reset-page {
  display: flex;
  height: 100vh;
  background-color: #fef8e8;
}

.reset-page .left-section {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  object-fit: cover;
}

.reset-page .tablet-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* This makes sure the image covers the entire section */
  object-fit: cover; /* This ensures the image maintains aspect ratio while covering */
}

.reset-page .right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding-right: 100px;
  padding-left: 100px;
  background-color: #fef8e8;

}

.reset-page .logo {
  display: flex;           /* Use flexbox to align items */
  align-items: center;      /* Vertically center the items */
  justify-content: center;  /* Center the content horizontally */
}


.reset-page .img {
  width: auto;              /* Set the size of the logo */
  height: 112px;   
  margin-bottom: 25px;          /* Keep the aspect ratio */
}


.reset-page h2 {
  font-family: 'Nunito Sans';
  color: #525252;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 34px;
  margin-top: 5px;
}

.reset-page .reset-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  margin-left: 60px;
}

.reset-page .reset-form input {
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
  background-color: #fef8e8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Nunito Sans';
}


.reset-page .reset-btn {
  padding: 10px;
  background-color: #7F265B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Nunito Sans';
  font-weight: bold;
  margin-top: 15px;
}









